body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topbar_big{
    width: 100%;
    height: 20vh;
    background-color: #50A97B;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.topbar_small_main{
    background: rgb(0,0,0);
    width: 12%;
    height: 17vh;
    margin-right: 51.5%;
    margin-left: 1.5%;
    border: 1px solid black;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar_small{
    width: 10%;
    height: 15vh;
    margin-right: 1.5%;
    margin-left: 1.5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}
#b1{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#b2{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
}#b3{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
}
#t1{
    color: white;
}
a{
    color: black;
    text-decoration: none;
}

img{
    width: 30%;
}

#boot{
    justify-self: end;
    width: 100%;
    height: 5%;
    background-color: #50A97B;
}

.button_text{
    color: black;
    text-decoration: none;
}
footer{
    height: 10vh;
    width: 100%;
    background: rgb(212, 181, 211);
    display: flex;
    align-items: center;

}
#pagerest{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#m1{
    margin-left: 5%;
    margin-right: 10%;
}