body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topbar_big{
    width: 100%;
    height: 20vh;
    background-color: #50A97B;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.topbar_small_main{
    background: rgb(139,198,202);
    width: 10%;
    height: 15vh;
    margin-right: 51.5%;
    margin-left: 1.5%;
    border: 1px solid black;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar_small{
    width: 10%;
    height: 15vh;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border: 1px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#b1{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#b2{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
}#b3{
    background: rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 17vh;
}
#t4{
    color: white;
}
a{
    color: black;
    text-decoration: none;
}
#leftside{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 3%;
}
form{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}
.label{
    margin-top: 13vh;
}
#submit{
    margin-top: 13vh;
    width: 16%;
    height: 5vh;
}
#rightside{

    display: flex;
    flex-direction: column;
}