body{
    max-height: 100vh;
}
#topbar_big{
    width: 100%;
    height: 20vh;
    background-color: #50A97B;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px;

}

.topbar_small_main{
    background: rgb(139,198,202);
    width: 10%;
    height: 15vh;
    margin-right: 51.5%;
    margin-left: 1.5%;
    border: 1px solid black;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
}

.topbar_small{
    width: 10%;
    height: 15vh;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border: 1px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#b1{
    background:  rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#b2{
    background: rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 17vh;
}
#b3{
    background: rgb(139,198,202);
    display: flex;
    align-items: center;
    justify-content: center;
}
#t3{
    color: white;
}
#bigbox{
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    max-height: 77vh;
    
}
.upperbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.innerbox{
    margin-bottom: 50px;
    margin-left: 3%;
    margin-right: 3%;
}